<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="etchee.com.weightlifty">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchResultsActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".data.DBviewer" />

        <!--Searchable Activity, triggered by the SearchView widget in the ListView-->
        <activity
            android:name=".Search.SearchResultsActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.Searchable"
                android:resource="@xml/searchable"
                />


        </activity>
        
        <provider
            android:authorities= "suggestionProviderAuthority"
            android:name=".Search.SuggestionProvider"
            android:syncable="false" />

        <!--Activity TAKING the searchable activity-->
        <activity android:name=".Activity.ListActivity">
            <!--Enable search dialog to send searches to SearchResultsActivity-->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".SearchViewActivity"
                />

        </activity>

        <activity android:name=".Activity.EditEventActivity" />
        <activity android:name=".Activity.ChooseEventActivity" />

        <provider
            android:name=".data.DataProvider"
            android:authorities="etchee.com.weightlifty"
            android:exported="false" />
    </application>

</manifest>